@import "../styles/colors";

.ControlPanel {
  .buttonsAndSummary {
    display: flex;
    justify-content: space-between;

    .left,
    .right {
      display: flex;
      column-gap: 0.5rem;
    }

    .summary {
      align-self: center;

      .levelString {
        padding: 0.125rem 0.25rem;
      }

      .sranLevelString {
        padding: 0.125rem 0.25rem;
      }

      .emhString {
        padding: 0.125rem 0.25rem;
      }
    }
  }
}

// Stuff in the modal should go below.

.topRow {
  display: flex;
  justify-content: space-between;

  .right {
    display: flex;
    column-gap: 0.5rem;
  }
}

select {
  &.unilab_1218 {
    background: #0091d0;
    color: white;
  }

  &.unilab_0411 {
    background: #cceefd;
  }

  &.include {
    background: $n-light;
  }

  &.exclude {
    background: $h-light;
  }

  &.only {
    background: $ex-light;
  }
}

.flex {
  display: flex;
}

.control {
  display: flex;
  column-gap: 0.5rem;
  margin-bottom: 0.5rem;

  label {
    margin-bottom: 0; /* Override browser default. */
  }

  input[type="radio"] {
    margin-left: 0.25rem;
  }

  input[type="radio"] + label {
    margin-left: 0.25rem;
  }

  &.draw select,
  &.level select {
    width: 2.75rem;
  }

  &.diffsChoose {
    margin-top: 0.25rem;
    margin-left: 1rem;
    width: 14rem;
    display: flex;
    flex-wrap: wrap;

    .diffContainer {
      width: 6rem;

      label {
        margin-left: 0.5rem;
      }
    }
  }

  &.includeFolders {
    .noneFoldersButton {
      line-height: 1.125rem;
      margin-left: 0.75rem;
    }
  }

  &.foldersChoose {
    margin-top: 0.25rem;
    margin-left: 1rem;
    width: 18rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 24.5rem; // = folderheight * 15

    .folderSelect {
      height: 1.75rem;

      label {
        margin-left: 0.5rem;
      }
    }
  }

  &.info {
    margin-top: -0.5rem;
    margin-left: 0.5rem;
    font-size: 0.75rem;
    font-style: italic;
    color: #666;
  }

  &.customLink input {
    width: 100%;
    max-width: 720px;
  }
}

.chooseLevelEmh {
  display: flex;

  .levelEmhButton {
    flex: 1;
    color: #777;
  }
}

.level0x {
  background: #f0f0f0;
}

.level1x {
  background: $e-light;
}

.level2x {
  background: $n-light;
}

.level3x {
  background: $h-light;
}

.level4x {
  background: $ex-light;
}

.level5x {
  background: $ex-bright;
  color: white;
}

.sranlevelveryeasy {
  background: #f0f0f0;
}

.sranleveleasy {
  background: $e-light;
}

.sranlevelmid {
  background: $n-light;
}

.sranlevelhard {
  background: $h-light;
}

.sranlevelveryhard {
  background: $ex-light;
}

.sranlevelmax {
  background: $ex-bright;
  color: white;
}

.easy {
  background: $n-x-light;

  &.selected {
    background: $n-bright;
    color: white;
  }
}

.med {
  background: $h-x-light;

  &.selected {
    background: $h-bright;
    color: white;
  }
}

.hard {
  background: $ex-x-light;

  &.selected {
    background: $ex-bright;
    color: white;
  }
}

.iconButton {
  width: 2rem;
  line-height: 0.8;
}

h5.header {
  margin-top: 1rem;
}
