@import "../styles/colors";

.SetList {
  display: flex;
  flex-direction: column;
  padding: 0 0.125rem;

  .chartSetAndButton {
    position: relative;

    .moreButton {
      position: absolute;
      top: 1.0rem;
      right: 0;
      width: 2rem;
      height: 2rem;
      line-height: 0.8;
      z-index: 10;
    }
  }
}

.borderBetween {
  margin-bottom: 0.5rem;
}

.chartSetModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.0rem;

  .firstChart {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    gap: 0.5rem;

    .plusMore {
      line-height: 0.85;
    }
  }

  .drawnAt {
    margin-top: -0.625rem;
    color: grey;
    font-size: 0.75rem;
    font-style: italic;
  }

  button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    width: 180px;

    &.delete {
      border-color: $ex-light;
      background-color: $ex-x-light;
    }

    .downArrow {
      margin-left: -0.3125rem;
    }
  }
}
