.SetList {
  display: flex;
  flex-direction: column;

  .chartSetAndButton {
    position: relative;

    .moreButton {
      position: absolute;
      top: 1.0rem;
      right: 0;
      width: 2rem;
      height: 2rem;
      line-height: 0.8;
    }
  }
}

.borderBetween {
  margin-bottom: 0.5rem;
}
