// Load Bootstrap from node packages
// https://getbootstrap.com/docs/5.1/content/reboot/
@import "~bootstrap/scss/bootstrap-reboot";

button {
  background: #ddd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: 2px 2px 2px #aaa;
}

select {
  background: #ddd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: 2px 2px 2px #aaa;
}

textarea {
  border-color: #ddd;
  border-radius: 4px;
}
